.list-group{
    display: flex !important;
    color: red !important;
}
li{
    color: red !important;
}



.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:31px;

}